@model IBFSNetwork.Models.Questionnaire

@{
    ViewData["Title"] = "Edit Survey";
}

<h2>Edit Questions</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="QuestionnaireId" />
        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Deleted" />
                    <label asp-for="Deleted"></label>
                </div>
            </div>
        </div>*@
        <div class="form-group">
            <label asp-for="Question" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @*<input asp-for="Question" class="form-control" />*@
                <textarea rows="3" asp-for="Question" class="form-control"></textarea>
                <span asp-validation-for="Question" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
