@model IBFSNetwork.Models.QuestionnaireModel

@{
    Layout = "_LayoutLogin";

    ViewData["Title"] = "Survey";
}

<h2>Survey</h2>

<form asp-action="Create">
    <div class="form-horizontal">
    
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @*<div class="form-group">
            <label asp-for="DateOn" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateOn" class="form-control" />
                <span asp-validation-for="DateOn" class="text-danger" />
            </div>
        </div>*@
    @{ int i = 0;}
    @foreach (var que in ViewBag.Questionnaire)
    {
        <div class="form-group">
            <label class="col-md-10">@que.Question</label>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @*<input asp-for="@Model.QuestionnaireAnswers[i].AnswerText" class="form-control" />*@
                <textarea rows="3" asp-for="@Model.QuestionnaireAnswers[i].AnswerText" class="form-control"></textarea>
                <span asp-validation-for="@Model.QuestionnaireAnswers[i].AnswerText" class="text-danger" />
            </div>
        </div>

        i++;
    }
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>
            </div>
</form>

@if (User.IsInRole("admin"))
{
<div>
    <a asp-action="Index">Back to List</a>
</div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
