@model IEnumerable<IBFSNetwork.Models.AlertViewModels.IDType>

@{
    ViewData["Title"] = "ID Types";
}

<h2>ID Types</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDTypeName)
            </th>
            <th><span class="addnew-right"><a asp-action="Create" class="btn btn-addnew btn-xs">Create New</a></span>   </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDTypeName)
            </td>
            <td class="col-md-2">
                <a asp-action="Edit"  class="btn btn-primary btn-xs"  asp-route-id="@item.IDTypeId">Edit</a> |
                <a asp-action="Delete" class="btn btn-danger btn-xs" asp-route-id="@item.IDTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
